/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.florist-one-delivery-admin-config-label {
    float: left;
    margin-right: 10px;
}


.autopop-address{
  display: none;
}

.florist-one-flower-delivery-show_add_another_florist_row{
  display: none;
}

table.admin_section{
  width: 600px;
}

.new_florist_code{
  width: 300px;
}
